@model IEnumerable<fptbookshop.Models.Product>


<input type="text" id="search" placeholder="Search something!" align="right">


<div class="container">
    <h3 class="display-5">All books</h3>
    <div class="row">

        @foreach (var product in Model)
        {
        <div class="col-md-2">
            <partial name="_bookThumbnail" model="@product" />
        </div>
        }

    </div>
</div>

