@model fptbookshop.Models.Product

@{
    ViewData["Title"] = "Details";
}
<section class="jumbotron text-center">
<div class="container">
    <h3 class="display-4">Book Details</h3>
    <div class="row">
        <div class="col-md-6">
            <img class="t-cover-img" src=@Model.Image alt="Bootstrap">
        </div>

        <div class="col-md-6">
            <div class="row">
                <div class="row">
                    <div class="col-md-12">
                        <h1> @Model.Name</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-primary">
                        <span class="label label-primary">By Author:</span>
                        <span class="monospaced">AuthName</span>
                    </div>
                </div>
                <div class="row">
                    <div class="description">
                       @Model.Description
                    </div>
                </div>
                <div class="row">
                    <div class="price">
                         <span class="text-muted">@(Model.Price.ToString("n0")) VND</span>    
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <button class="btn btn-outline-primary">
                            Add To Cart
                        </button>
                        
                    </div>
                </div>
                <div class="buttonback">
                        <a asp-action="BookShop">Back to List</a>
                        </div>
            </div>
        </div>

        </div>
        
    


