@{
    ViewData["Title"] = "Home Page";
}

  <div class="slider-holder">
        <span id="slider-image-1"></span>
        <span id="slider-image-2"></span>
        <span id="slider-image-3"></span>
        <div class="image-holder">
            <img src="https://i.pinimg.com/originals/aa/03/dd/aa03dde063d14df535cafcb8f0af992b.gif" class="slider-image" />
            <img src="https://i.pinimg.com/originals/0f/c1/1f/0fc11f72b8c48ebc579fe6dead9d9bae.gif" class="slider-image" />
            <img src="https://i.pinimg.com/originals/0e/33/43/0e3343d070c0db77c07e389f6a600fe1.gif" class="slider-image" />
        </div>
        <div class="button-holder">
            <a href="#slider-image-1" class="slider-change"></a>
            <a href="#slider-image-2" class="slider-change"></a>
            <a href="#slider-image-3" class="slider-change"></a>
        </div>
    </div>