@{
    ViewData["Title"] = "Home Page";
}
<section class="jumbotron text-center">
    <div class="container">
    <h1>Welcome to Book Store</h1>
    <p class="lead text-muted">
        FPT BOOK STORE
    </p>
    
  
   
      <img src="~/Image/olesia-buyar-ZD03qVhBJZg-unsplash.jpg" class="img-fluid" />
   

  </div>
</section>